.DropDownWrapper {
  padding-top: var(--spacer);
  font-size: .6em;
}

.DropDown{
    width: 100%;
    padding-block: var(--spacer);
    padding-left: var(--spacer);
    border-radius: var(--b-radius-inputs);
    box-shadow: var(--shadow);
}
