.NavBar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer-sm) var(--spacer-med);
  box-shadow: var(--shadow);
  background-color: var(--color-dark);
  color: var(--color-light);
}

.LogoAndCompanyName {
  display: flex;
  gap: calc(var(--spacer-sm) * 0.5);
  align-items: end;
}

.Logo {
  width: 2rem;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.CompanyName {
  font-size: var(--fs-nav);
  font-weight: 700;
}

.GrayFont {
  color: var(--color-medium);
}
