.PremiumContainer {
  background-color: var(--color-medium);
  gap: 2rem;
}

.CollapsibleWrapper {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.5s;
}

.AITextContainer {
  width: 100%;
  padding: var(--spacer-med);
  margin-top: var(--spacer-med);
  border-radius: var(--b-radius-cards);
  box-shadow: var(--shadow);
  background-color: var(--color-light);
  font-weight: 600;
}

.AIHeading {
  text-align: center;
  margin-bottom: var(--spacer-med);
  font-size: var(--fs-heading-sub);
}

.AIHeading span {
  display: block; /*display on new line */
  color: var(--color-accent3);
  font-family: var(--font-serif);
  font-size: 0.75em;
}

.AILine {
  display: grid;
  grid-template-columns: repeat(3, 2fr) 1fr;
  gap: var(--spacer-sm);
  margin-bottom: calc(var(--spacer-med) * 0.75);
  font-size: var(--fs-fields);
}

.AIResult,
.AIConfidence {
  color: var(--color-accent3);
  font-size: 0.9em;
}

.FilterContainer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer-med) * 1.5);
  width: 100%;
}

.PremiumMessage {
  text-align: center;
  color: var(--color-accent3-dark);
  font-size: var(--fs-heading-sub);
  font-weight: 600;
}

