.DropDown {
  width: 100%;
  padding-block: calc(var(--spacer-med) * 0.75);
  padding-left: var(--spacer-sm);
  border-radius: var(--b-radius-inputs);
  box-shadow: var(--shadow);
  font-size: var(--fs-dropdowns);
}
