.MainContainer {
  background-color: var(--color-dark);
}

.CarImage {
  width: 100%;
  max-width: 300px;
  border-radius: var(--b-radius-cards);
  box-shadow: var(--shadow);
  background-color: var(--color-dark);
}

.HiddenInput {
  display: none;
}
