.MainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-sm);
  padding: var(--spacer-med);
}

@media (min-width: 768px) {
  .MainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacer-lrg);
    max-width: 1200px;
    padding: var(--spacer-lrg);
    margin: var(--spacer-lrg) auto;
    border-radius: var(--b-radius-container);
    box-shadow: var(--shadow);
  }
}
