.MainContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  padding: var(--spacer) 1rem;
}

@media (min-width: var(--media-break-point)) {
  .MainContainer {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
    border-radius: var(--b-radius-container);
    box-shadow: var(--shadow);
  }
}

